@import 'tailwindcss';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@layer components {
    .btn-add {
      @apply px-4 py-2 rounded-xl bg-green-600 text-white font-medium shadow-md 
             hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 
             focus:ring-offset-2 transition;
    }
  
    .btn-edit {
      @apply px-4 py-2 rounded-xl bg-blue-600 text-white font-medium shadow-md 
             hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 
             focus:ring-offset-2 transition;
    }
  
    .btn-delete {
      @apply px-4 py-2 rounded-xl bg-red-600 text-white font-medium shadow-md 
             hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 
             focus:ring-offset-2 transition;
    }
  
    .page {
      @apply bg-white p-6 rounded-2xl shadow-md border border-gray-200;
    }
  
    .title {
      @apply text-lg font-bold text-[#660B05] mb-4;
    }
  
    .p {
      @apply text-gray-500 mt-2;
    }

    .input{
      @apply w-full px-4 py-2 mt-1 border border-[#e5e7eb] rounded-md focus:outline-none ;
    }
    
}